

.content
  height: 100vh
.container
  margin: 0 150px
  padding-top: 20px
  height: auto
  width: auto
  padding: 0 20px 20px 20px
  transition: 0.5s
  &.active
    margin-right: 0
    margin-left: 300px
    transition: 0.5s